<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>scrivstrap_document_title</title>
	<meta name="author" content="Adam Kempler"/>

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="http//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap.min.js"></script>
	<script src="js/scrivstrap.js"></script>

</head>
<body>

	<div class="container-fluid">
		<div class="row-fluid">
	        <div class="span3">
	          <div id="scrivnav" class="well sidebar-nav">
	            <ul class="nav nav-list">
	              <li class="nav-header">Sidebar</li>
	            </ul>
	          </div><!--/.well -->
	        </div><!--/span-->
	        <div class="span9">
				<div class="hero-unit">
					<h1>%title%</h1>
					%author%
				</div>

				<div id="scrivshow">
				</div>

				<div id="scriv">